
<main id="main-section">     
      <nav class="open" id="main-menu" style="padding-top: 15px">
        <ul>
          <li class="header text-center">MENÚ</li>
          <li class="active"><a ui-sref="mains.iformacion"><img src="/modules/mains/client/img/TelHealth_14.png"><span>Datos generales</span></a></li>
          <li><a ui-sref="mains.tarjeta"><img src="/modules/mains/client/img/TelHealth_27.png"><span>Registrar Tarjeta</span></a></li>
          <li><a ui-sref="mains.alergia"><img src="/modules/mains/client/img/TelHealth_33.png"><span>Alergias</span></a></li>
          <li><a ui-sref="mains.habitos"><img src="/modules/mains/client/img/TelHealth_35.png"><span>Hábitos</span></a></li>
          <li><a ui-sref="mains.enfermedades"><img src="/modules/mains/client/img/TelHealth_37.png"><span>Enfermedades Pre existentes</span></a></li>
          <li><a ui-sref="mains.tratamientos"><img src="/modules/mains/client/img/TelHealth_39.png"><span>Tratamientos actuales</span></a></li>
          <li><a ui-sref="mains.operaciones"><img src="/modules/mains/client/img/TelHealth_41.png"><span>Operaciones realizadas</span></a></li>
          <li><a ui-sref="mains.historial"><img src="/modules/mains/client/img/TelHealth_43.png"><span>Historia familiar</span></a></li>
        </ul>
      </nav>
      <div id="content-box">
        <br/>
        <div class="container-fluid">
          <div id="breadcrumb">
            <ol class="breadcrumb">
              <li><a ui-sref="home">Inicio</a></li>
              <li><span>Datos generales-editar</span></li>
            </ol>
          </div>
          <div id="content">
            <div id="informacion-alergias">
              <div class="text-center">
                <ul class="list-inline" id="list-links">
                  <li><a ui-sref="mains.emergencia"><img src="/modules/mains/client/img/TelHealth_18.png"><span>EMERGENCIAS</span></a></li>
                  <li><a ui-sref="mains.citas"><img src="/modules/mains/client/img/TelHealth_20.png"><span>MIS CITAS VIRTUALES</span></a></li>
                  <li class="active"><a ui-sref="mains.informacion"><img src="/modules/mains/client/img/TelHealth_22.png"><span>MI INFORMACIÓN</span></a></li>
                </ul>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <figure><img ng-src="{{vm.authentication.user.profileImageURL}}" style="margin-top:25px; height: 211px; width: 168px"></figure>
                </div>
                <div class="col-sm-9">
                  <h2 class="title"><img src="/modules/mains/client/img/TelHealth_47.png"><span>DATOS GENERALES</span></h2>
                 
                  <form name="userForm" ng-submit="update(userForm.$valid)" novalidate>
                    <fieldset>
                        <div class="form-group" show-errors>
                            <label for="firstName">First Name</label>
                            <input type="text" id="firstName" name="firstName" class="form-control" ng-model="vm.authentication.user.firstName" placeholder="First Name" required />
                            <div ng-messages="userForm.firstName.$error" role="alert">
                              <p class="help-block error-text" ng-message="required">First name is required.</p>
                            </div>
                          </div>

                          <div class="form-group" show-errors>
                            <label for="lastName">Last Name</label>
                            <input type="text" id="lastName" name="lastName" class="form-control" ng-model="vm.authentication.user.lastName" placeholder="Last Name" required />
                            <div ng-messages="userForm.lastName.$error" role="alert">
                              <p class="help-block error-text" ng-message="required">Last name is required.</p>
                            </div>
                          </div>
                          <div class="form-group" show-errors>
                            <label class="control-label" for="FechaNacimiento">Fecha de Nacimiento</label>
                            <div class="controls">
                                  <!--  <input name="fecha" type="date" ng-model="vm.authentication.user.fecnac" id="fecha" class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" placeholder="Fecha" 
                                    placeholder="yyyy-MM-dd" min="1960-01-01" max="2100-12-31"
                                    required="">                                 -->
                              <input class="form-control" type="text" name="txtFechaNacimiento" ng-model="vm.authentication.user.fecnac | date: 'dd-MM-yyyy'" id="txtfechaNacimiento" required />
                              <div ng-messages="userForm.roles.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">At least one datebirth is required.</p>
                              </div>
                            </div>
                          </div>
                          <div class="form-group" show-errors>
                            <label class="control-label" for="FechaAltura">Altura</label>
                            <div class="controls">
                              <input class="form-control" type="text" name="txtAltura" ng-model="vm.authentication.user.altura" id="txtAltura" required />
                              <div ng-messages="userForm.roles.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">At least one height is required.</p>
                              </div>
                            </div>
                          </div>
                          <div class="form-group" show-errors>
                            <label class="control-label" for="Peso">Peso</label>
                            <div class="controls">
                              <input class="form-control" type="text" name="txtPeso" ng-model="vm.authentication.user.peso" id="txtPeso" required />
                              <div ng-messages="userForm.roles.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">At least one weight is required.</p>
                              </div>
                            </div>
                          </div>
                          <div class="form-group" show-errors>
                            <label class="control-label" for="sexo">Sexo</label>
                            <div class="controls">
                              <input class="form-control" type="text" name="txtSexo" ng-model="vm.authentication.user.sexo" id="txtSexo" required />
                              <label for="">
                              <input type="radio" ng-model="vm.authentication.user.sexo" value="Masculino" ng-value="Masculino">
                                Masculino
                            </label>
                            <label for="">
                              <input type="radio" ng-model="vm.authentication.user.sexo" value="Femenino" ng-value="Femenino">
                               Femenino
                            </label>
                              <div ng-messages="userForm.roles.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">At least one height is required.</p>
                              </div>
                            </div>
                          </div>
                          <div class="form-group" show-errors>
                            <label class="control-label" for="email">Email</label>
                            <div class="controls">
                              <input class="form-control" type="text" name="txtEmail" ng-model="vm.authentication.user.email" id="txtEmail" required />
                              <div ng-messages="userForm.email.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">At least one email is required.</p>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <input type="submit" value="Update" class="btn btn-info" ui-sref="mains.informacion">
                          </div>
                          <div ng-show="error" class="text-danger">
                            <strong ng-bind="error"></strong>
                          </div>
                    </fieldset>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
