
<div class="row">
      <div class="col-md-6">
        <h1 ng-bind="user.username" class="ng-binding">resb</h1>
      </div>
      <div class="col-md-4">
        <a class="btn btn-primary" ui-sref="admin.user-edit({userId: user._id})" href="/admin/users/599456b8f13dc04814960c66/edit">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <!-- ngIf: user._id !== authentication.user._id --><a class="btn btn-primary ng-scope" ng-click="remove();" ng-if="user._id !== authentication.user._id">
          <i class="glyphicon glyphicon-trash"></i>
        </a><!-- end ngIf: user._id !== authentication.user._id -->
      </div>
    </div>